@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--font-default);

}

:root {
    --font-default: #AAA6A6;
    --font-active: #ffffff;
    --container: #F6F6F6;
    --contents: #E6E6E6;
    --box-shadow: #837e7e;
    --black1: #000000;
    --black2: #111111;
    --black3: #222222;
    --sub-color: rgb(83, 83, 245);
    --button: rgb(28, 180, 28);
    --hover: rgb(110, 221, 160);
    --invalid: red;
}

body {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background: var(--container);
}

/* HEADER */

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 12rem;
}

.header-logo {
    cursor: pointer;
}

.header-logo .first {
    color: var(--black3);
    font-size: 14px;
}

.header-logo .second {
    color: var(--black3);
    font-size: 10px;
}


/* HEADER */


/* SECTION */
section {
    width: 100%;
    height: 100vh;
}

/* LOGIN FORM */

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* FORM */

/* INVALID */
.invalid-input {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    visibility: hidden;
}

.capsState {
    display: none;
    width: 100%;
    justify-content: left;
    margin-top: -1rem;
}

.capsState p {
    font-size: 15px;
    color: var(--invalid);
}

.invalid-input i,
.invalid-input p {
    font-size: 12px;
    color: var(--invalid);
}

/* INVALID */

.login-form form {
    width: 30rem;
    height: 37rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: var(--black3); */
    border-radius: 2rem;
    padding: 0 4rem;
    box-shadow: inset 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

form .inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

form .input-box input {
    width: 22rem;
    height: 2.5rem;
    padding: 0 1rem;
    border-radius: .7rem;
    border: none;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
    color: var(--black3);
}

.inputs .pass {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.inputs .show-pas {
    position: absolute;
    top: .5rem;
    left: 20rem;
    display: none;
}

form .input-box i {
    cursor: pointer;
    color: var(--black3);
    font-size: 25px;
}
form .input-box i:nth-child(1) {
    display: none;
}

form .input-box i:nth-child(2) {
    display: block;
}

form .buttons button {
    width: 22rem;
    height: 2.2rem;
    border-radius: .7rem;
    border: none;
    box-shadow: 0 10px 27px 4px rgba(0, 0, 0, 0.1);
    background: var(--button);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-active);
    cursor: pointer;
    transition: .3s;
}

form .buttons button:hover {
    scale: .98;
    background: var(--hover);
}

.login-form .details p:nth-child(1) {
    color: var(--black3);
    font-size: 35px;
    font-weight: 600;
}

.login-form .details p:nth-child(2) {
    color: var(--font-default);
    font-size: 17px;
    font-weight: 200;
}



/* FORM */


/* CONTAINER LOGO */
.container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60rem;
    height: 45rem;
    border-radius: 5rem;
    /* box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1); */
    /* background: var(--black3); */
}


.container-logo .details p:nth-child(1) {
    font-size: 100px;
    font-weight: 600;
    color: var(--black3);
}

.container-logo .details p:nth-child(2) {
    margin-top: -8rem;
    font-size: 100px;
    font-weight: 600;
    color: var(--sub-color);
}

/* .container-logo img {
    border-radius: 1rem;
    box-shadow: 0 51px 42px 17px rgba(0, 0, 0, 0.1);
} */



/* CONTAINER LOGO */

/* LOGIN FORM */

/* SECTION */



/* MEDIA QUERIES */

/* SECTION MEDIA QUERIES */

@media (max-width: 1600px) {
    .login-form form {
        width: 21rem;
        height: 27rem;
        padding: 0 2rem;
    }

    form .input-box input {
        width: 17rem;
        height: 1.9rem;
        padding: 0 1rem;
        border-radius: .7rem;
        border: none;
        box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
        color: var(--black3);
    }

    .inputs .show-pas {
        position: absolute;
        top: .3rem;
        left: 15rem;
    }

    .inputs .show-pas i {
        font-size: 20px;
    }

    form .buttons button {
        width: 17rem;
        height: 1.8rem;
        border-radius: .5rem;
        font-size: 12px;
        font-weight: 600;
    }

    .login-form .details p:nth-child(1) {
        color: var(--black3);
        font-size: 25px;
        font-weight: 600;
    }

    .login-form .details p:nth-child(2) {
        color: var(--font-default);
        font-size: 12px;
        font-weight: 200;
    }

    .container-logo {
        width: 30rem;
        height: 25rem;
    }

    .container-logo .details p:nth-child(1) {
        font-size: 70px;
        font-weight: 600;
        color: var(--black3);
    }

    .container-logo .details p:nth-child(2) {
        margin-top: -4rem;
        font-size: 70px;
        font-weight: 600;
        color: var(--sub-color);
    }

}



/* SECTION MEDIA QUERIES */

/* MEDIA QUERIES */